<!DOCTYPE html>
<html>
<head>
  
</head>

<body>
<div id="main" style="width: 600px; height: 300px; border-width: 1px; border-style: solid; margin-left:auto; margin-right: auto;">
  <div id="imagecnt">
    <div id="image">
      <img alt="pic of horse" src="http://scontent-a.cdninstagram.com/hphotos-xpa1/t51.2885-15/10507918_884447178272287_2045615787_a.jpg" style="width: 250px; height: 270px; border-width: 2px; border-style: solid; margin: 10px; float: left;" />
    </div>
  </div>
  <div id="info" style=" width: 300px; height: 300px; margin-right: 10px; float:right;">
      <div id="name">
        <h1>
          <strong>Wellesley Watson</strong>
        </h1>
      </div>

      <div id="timedate">
           <p>
              <h4>{{time}}</h4>
          </p>
      </div>

      <div id="cred" style="line-height:15%;">
        <p><b>Username:</b> AlexPrime</p>
        <p><b>ID:</b> 01026886</p>
        <p><b>Sex:</b> Male</p>
        <p><b>Age:</b> 33</p>
        <p><b>Sport:</b> Basketball</p>
        <p><b>Position:</b> Point Guard</p>
       </div>
   </div>
</div>
</body>

</html>
